<section class="container-cad-referencia">
    <section class="nav-cad-referencia">
        <h1>Nova Referencia</h1>
        <a [style]="{fontSize:'25pt', cursor: 'pointer'}" (click)="trade()"> &times; </a>
    </section>

    <hr />

    <mat-card class="cad-form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Autor</mat-label>
            <input autocomplete="off" formControlName="author" matInput #input maxlength="50" placeholder="Digite a Palavra" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input autocomplete="off" formControlName="authorSobrenome" matInput #input maxlength="50" placeholder="Digite a Palavra" required />
        </mat-form-field>

        <button (click)="newAuthor()" >Cadastrar outro autor? </button>

        <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input autocomplete="off" formControlName="title" matInput #input maxlength="100" placeholder="Digite a Palavra" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Subtítulo</mat-label>
            <input autocomplete="off" formControlName="subtitle" matInput #input maxlength="50" placeholder="Digite a Palavra" required />
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Local de Publicação</mat-label>
            <input autocomplete="off" formControlName="publication" matInput #input maxlength="50" placeholder="Digite a Palavra" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Editora</mat-label>
            <input autocomplete="off" formControlName="publisher" matInput #input maxlength="50" placeholder="Digite a Palavra" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ano de Publicação</mat-label>
            <input autocomplete="off" formControlName="Year" type="number" matInput #input maxlength="50" placeholder="Digite a Palavra"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>N° da Edição </mat-label>
            <input autocomplete="off" formControlName="numEdit" type="number" matInput #input maxlength="50" placeholder="Digite a Palavra"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Volume</mat-label>
            <input autocomplete="off" formControlName="Vol" type="number" matInput #input maxlength="50" placeholder="Digite a Palavra"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Página</mat-label>
            <input autocomplete="off" formControlName="Pag" type="number" matInput #input maxlength="50" placeholder="Digite a Palavra"/>
        </mat-form-field>

        <input autocomplete="off" type="hidden" formContrlName="created_at" />
        <input autocomplete="off" type="hidden" formContrlName="updated_at" />
    </mat-card>

    <hr />

    <section class="cad-button-form">
        <button mat-raised-button class="button-cad-material" [style]="{border:'1px solid #dc3545', color: '#dc3545'}"
            (click)="trade()">
            Cancelar
        </button>
        <button mat-raised-button class="button-cad-material" [style]="{border:'1px solid #28a745', color: '#28a745'}"
            (click)="onSubmit()">
            Confirmar
        </button>

    </section>

</section>