<a routerLink="">Voltar</a>

<section class="container-list">
    <div class="nav-list">
        <h1> # Palavra-chave</h1>
        <h1> Descrição </h1>
    </div>
    <div class="content-list">
        <a class="item-list" routerLink="edit/0">
            <p> 0 </p>
            <p> Onomatopeia </p>
            <p> sdklajdlskdjas,nme,mn kj ljlkj lkjslkj lkjlkj h jkbkjnk nlkml mlnk bhkbhjv </p>
        </a>
    </div>
    <div class="button-list">
        <button> < </button>
        <button> > </button>
    </div>
</section>
