 .block-cad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .list-a-edit{
   cursor: pointer;
   flex-direction: row-reverse;
   display: flex;
   align-items: center;
 }