<a routerLink="">Voltar</a>

<section class="container-list">
    <div class="nav-list">
        <section class="switch-title">
            <a class="material-icons" routerLink=""> arrow_back </a>
            <h1>Glossário</h1>
            <a class="material-icons" routerLink="/referencias"> arrow_forward </a>
        </section>
        <section class="search-item">
            <button (click)="cad()">+ Nova palavra</button>
            <mat-form-field appearance="outline">
                <mat-label>Buscar Palavra</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex: Onomatopeia" (input)="search($event)"
                    autocomplete="off" />
            </mat-form-field>
        </section>
    </div>
    <section class="block-cad" *ngIf="cadOk">
        <div
            [style]="{position:'fixed', width:'100vw', height: '100vh', background:'rgba(0,0,0,0.3)', top: '0', left: '0', overflow:'hidden'}">
            <app-cad-glossario (CadOk)="cad()" [size]="nextId" (ld)="load()"></app-cad-glossario>
        </div>
    </section>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <!-- <th scope="col"></th> -->
                <th scope="col">Palavra-chave</th>
                <th scope="col" class="title">Descrição</th>
                <th class="icon" scope="col">Alterar</th>
                <th class="icon" scope="col">Remover</th>
            </tr>
        </thead>
    </table>
    <div class="content-list">

        <table class="table table-hover ">

            <tbody *ngFor="let item of it; index as i" style="overflow-y: auto;">

                <tr class="toShow" *ngIf="i < quantidade && i >= inicio">
                    <td class="icon">{{i+1}}</td>
                    <td scope="row" style="width: 170px;">{{item.keyWord}}</td>
                    <td scope="row" style="width: 170px;" class="title " (click)="Expandir(i)" ><p class="itemDescription">{{item.description}}</p></td>

                    <td class="icon" scope="row" style="display: flex; justify-content: space-evenly;">
                        <a (click)="Edit(item.id)">
                            <span class="material-icons" style="color: #6E867D; cursor: pointer;">
                                edit
                            </span>
                        </a>
                        <a (click)="delete(item.id)">
                            <span class="material-icons" style="color: #e91f30; cursor: pointer;">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div [style]="{position:'fixed', width:'100vw', height: '100vh', background:'rgba(0,0,0,0.3)', top: '0', left: '0', overflow:'hidden'}"
            *ngIf="editOk">
            <app-edit-glossario (EditOk)="edit()" [info]="value" [ID]="algo" *ngIf="editOk"></app-edit-glossario>
        </div>

    </div>
    <div class="button-list">
        <button (click)="back()" class="material-icons pass"> arrow_back </button>

        <button (click)="next()" class="material-icons pass"> arrow_forward </button>
    </div>
</section>