<a routerLink="">Voltar</a>

<section class="container-list">
    <div class="nav-list">
        <section class="switch-title">
            <a class="container-list-img" routerLink=""> <img src={{imageBack}} /> </a>
            <h1>Referências</h1>
            <a class="container-list-img" routerLink="/glossario"> <img src={{imageNext}} /> </a>
        </section>
        <section class="search-item">
            <button (click)="cad()">+ Nova referencia</button>
            <mat-form-field appearance="outline">
                <mat-label>Buscar Referencia</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex: Onomatopeia" (input)="search($event)" />
            </mat-form-field>
        </section>
    </div>
    <div class="header-list">
        <h1> # </h1>
        <h1> Palavra-chave</h1>
        <h1> Descrição </h1>
    </div>
    <section class="block-cad" *ngIf="cadOk">
        <div
            [style]="{position:'fixed', width:'100vw', height: '100vh', background:'rgba(0,0,0,0.3)', top: '0', left: '0', overflow:'hidden'}">
            <app-cad-referencias (CadOk)="cad()"></app-cad-referencias>
        </div>
    </section>
    <div class="content-list">

        <section *ngFor="let item of referencias">
            <div *ngIf="item.id < quantidade && item.id >= inicio">
                <a class="item-list" >
                    <p> {{item.id}}</p>
                    <p class="list-p-keyWord"> {{item.author}} </p>
                    <p class="list-p-description"> {{item.title}} </p>
                    <a  class="list-a-edit">Editar</a>
                </a>
            </div>
        </section>
       
    </div>
    <div class="button-list">
        <button (click)="back()" class="material-icons"> arrow_back </button>
        <button (click)="next()" class="material-icons"> arrow_forward </button>
    </div>
</section>