<a routerLink="">Voltar</a>

<section class="container-list">
    <div class="nav-list">
        <section class="switch-title">
            <a class="material-icons" routerLink=""> arrow_back </a>
            <h1>Referências</h1>
            <a class="material-icons" routerLink="/glossario"> arrow_forward </a>
        </section>
        <section class="search-item">
            <button (click)="cad()"></button>
            <mat-form-field appearance="outline">
                <mat-label>Buscar Referencia</mat-label>
                <input matInput #input maxlength="10" placeholder="Autor/Título/Subtítulo" (input)="search($event)"
                    autocomplete="off" />
            </mat-form-field>
        </section>
    </div>

    <section class="block-cad" *ngIf="cadOk">
        <div
            [style]="{position:'fixed', width:'100vw', height: '100vh', background:'rgba(0,0,0,0.3)', top: '0', left: '0', overflow:'hidden'}">
            <app-cad-referencias (CadOk)="cad()" [size]="nextId" (ld)="load()"></app-cad-referencias>
        </div>
    </section>
    <div class="title-table">
        <p>#</p>
        <p>Autor</p>
        <p>Referencias</p>
        <p>Alterar</p>
        <p>Remover</p>
    </div>
    <div class="container-table" style="overflow-y: auto;">
        
        <div class="table" *ngFor="let item of referencias; index as i">
    
            <p class="icon" *ngIf="i < quantidade && i >= inicio">
                {{i + 1}}
            </p>
    
            <p *ngIf="i < quantidade && i >= inicio" class="autor">{{item.author}}
            </p>
    
            <p class="itemDescription"  *ngIf="i < quantidade && i >= inicio" (click)="Expandir(i)">
                <span style="text-transform: uppercase; ">{{item.author}} </span>
    
                <span style="font-weight: 'bold';">{{item.title}}</span>
                <span *ngIf="item.subtitle">: {{item.subtitle}}. </span>
                <span *ngIf="item.numEdition">{{item.numEdition}} ed.</span>
                <span *ngIf="item.Vol"> Vol {{item.Vol}}.</span>
                <span *ngIf="item.Pag"> pág {{item.Pag}}.</span>
                <span *ngIf="item.publication"> {{item.publication}}.</span>
                <span *ngIf="item.publisher"> {{item.publisher}}.</span>
                <span *ngIf="item.Year"> {{item.Year}}.</span>
            </p>
            <p *ngIf="i < quantidade && i >= inicio">
                <a (click)="Edit(item.id)">
                    <span class="material-icons" style="color: #6E867D; cursor: pointer;">
                        edit
                    </span>
                </a>
            </p>
            <p *ngIf="i < quantidade && i >= inicio">
                <a (click)="delete(item.id)">
                    <span class="material-icons" style="color: #e91f30; cursor: pointer;">
                        delete
                    </span>
                </a>
            </p>
        </div>
    </div>

    <div [style]="{position:'fixed', width:'100vw', height: '100vh', background:'rgba(0,0,0,0.3)', top: '0', left: '0', overflow:'hidden'}"
        *ngIf="editOk">
        <app-edit-referencia (EditOk)="edit()" [info]="value" [ID]="algo" *ngIf="editOk"></app-edit-referencia>
    </div>

    <div class="button-list">
        <button (click)="back()" class="material-icons"> arrow_back </button>
        <button (click)="next()" class="material-icons"> arrow_forward </button>
    </div>
</section>