/* You can add global styles to this file, and also import other style files */

.container-list,
.container-cad-glossario {
    height: 75vh;
    width: 55vw;
    padding: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    margin: 5vh auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.switch-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-list .search-item {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 5px;
    margin-bottom: 10px;
}

.container-list .search-item input {
    width: 98%;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    color: #cfcfcf;
    padding: 5px;
    font-size: 12pt;
}

.container-list .search-item button {
    font-size: 12pt;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #28a745;
    color: #28a745;
    border-radius: 0.25em;
}

.container-list .search-item button:hover {
    background-color: #28a745;
    color: #fff;
}

.container-list .header-list {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #c2e59c, #64b3f4);
    border-radius: 0.25em;
}

.container-list .header-list h1 {
    margin-right: 50px;
    font-size: 15pt;
}

.container-list .content-list {
    height: 60vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container-list .button-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-list .button-list button {
    border: 2px solid #28a745;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    color: #28a745;
    background-color: transparent;
    cursor: pointer;
}

.container-list .button-list button:hover {
    background-color: #28a745;
    color: #fff;
}

.container-list .content-list .item-list {
    display: flex;
    gap: 50px;
    cursor: pointer;
    padding: 0.5em 0.25em;
    transition: 0.1s;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #cfcfcfb7;
}

.container-list .content-list .item-list:hover {
    background-color: #cfcfcfb7;
}

.container-list a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #64b3f4;
    border-radius: 0.5em;
    cursor: pointer;
}

.switch-title {
    font-size: 12pt;
    font-family: roboto, sans-serif;
    display: flex;
    align-items: center;
}

.container-list-img {
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-list-img img {
    width: 100%;
    ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
