/* You can add global styles to this file, and also import other style files */


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #64b3f4;
    border-radius: 0.5em;
    cursor: pointer;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}